<div class="mb-3">
    <input type="text" (change)="updateTitle(titleinput)" class="form-control" minlength="2" value="{{todo?.title}}"
        placeholder="Title" #titleinput>
</div>
<div class="mb-3">
    <textarea class="form-control" style="border: none;" id="floatingTextarea2" style="height: 150px"
        (change)="updateDesc(textarea)" [value]="todo?.desc" #textarea></textarea>
</div>

<div class="mb-3 form-check" style="padding-left: 10%; padding-right: 2%;">
    <input type="checkbox" class="form-check-input" (change)="toggle($event)" id="exampleCheck1"
        [checked]="todo?.completed">
    <label class="form-check-label" for="exampleCheck1">Completed</label>
    <span class="float-end text-muted" id="datetime"> {{todo?.creatDate | date}}</span>
</div>
<button class="btn btn-light float-end" (click)="delete()">Delete</button>