<main class="form-signin">

    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="email" email class="form-control" id="email" ngModel name="email" required placeholder="Email">
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" ngModel name="password"
                required minlength="4">
            <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!authForm.valid">Sign in</button>
    </form>
    <loading-spinner *ngIf="isLoading"></loading-spinner>
</main>