<div class="container-fluid pt-2 ps-5 pe-5">
    <div class="row p-2">
        <div class="col">
            <h2 class="display-3">My Day</h2>
            <span class="small ps-3">Wedynesday, September 8</span>
        </div>
    </div>

    <div class="row p-4">
        <div class="col">
            <form (ngSubmit)="addTodo(form)" #form="ngForm" >
                <div class="input-group mb-3" ngModelGroup="userdata">
                    <button 
                        class="btn btn-primary"
                        type="submit" 
                        id="basic-addon1"
                        [disabled]="!form.valid"><i class="bi bi-plus"></i></button>
                    <input 
                        ngModel
                        type="text" 
                        name="inputTodo" 
                        class="form-control" 
                        placeholder="Enter Todo..." 
                        minlength="2" 
                        required>
                </div>
            </form>
        </div>
    </div>
    <div class="row pe-4" style="padding-left: 5.5%;">
        <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex">
                        <input class="form-check-input me-3" style="cursor: pointer;" type="checkbox" value="" aria-label="...">
                        <div class="w-100" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Some placeholder content for the collapse component.
                        </div>
                    </div>
                    <div class="collapse" style="padding-left: 2.4%;" id="collapseExample">
                            desc sdl;mksdl;ksdl;ksdl;dskl;
                    </div>
                </li>
        </ul>
    </div>
    
</div>